/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	background-color: white;
	padding: 10px 20px;
	border-radius: 6px;
	border: 1px solid black;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;

	width: 300px;
	top: calc(100% + 10px);
	left: 50%;
	margin-left: -150px; /* Use half of the width, to center the tooltip */
	transition: visibility 0.05s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	transition: none;
}

.tooltip .tooltiptext::after, .tooltip .tooltiptext::before {
	content: " ";
	position: absolute;
	bottom: 100%;  /* At the top of the tooltip */
	left: 50%;
	border-color: transparent;
	border-style: solid;
}

.tooltip .tooltiptext::before {
	margin-left: -6px;
	border-width: 6px;
	border-bottom-color: black;
}

.tooltip .tooltiptext::after {
	margin-left: -5px;
	border-width: 5px;
	border-bottom-color: white;
}
